body {
  font-size: 18px;
  font-family: "Perpetua", sans-serif;
}

h1 {
  font-size: 40px;
  color: rgb(0, 139, 210);
  text-decoration: underline;
  font-family: "Arial";
}

h2 {
  font-size: 25px;
  color: rgb(0, 139, 210);
  font-family: "Arial";
}

a {
  font-size: 18px;
  color: rgb(0, 139, 210);
  font-family: "Arial";
}
