bin/
output/
ninja/
build/
.vscode/
CMakeFiles/
CMakeCache.txt
*.ninja*
*.wasm
*.exe
*.so
*.aux
*.nav
*.out
*.toc
*.vrb
*.log
*.synctex.gz
*.snm
*.wasm.map
emscripten_fetch/emscripten_fetch.js
emscripten_fetch/emscripten_fetch.worker.js
emscripten_fetch/emscripten_fetch.js
